Source: stsbl-iserv-dns-over-tls
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-dns-over-tls
Architecture: all
Depends: iserv-server-bind,
         iserv-server-ferm (>= 19.05.14),
         iserv-server-incron,
         iserv-update,
         libclone-perl,
         libdata-compare-perl,
         libiserv-dialog-perl,
         libjson-perl,
         libnet-ip-perl,
         libpath-tiny-perl,
         resolvconf,
         bind9 (>= 1:9.18) | stsbl-iserv-dns-over-tls-tunnel (= ${source:Version}),
         stsbl-iserv-server-unbound,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ Unterstützung für verschlüsseltes DNS
 Erlaubt das Abfragen des DNS-Servers auf dem IServ per verschlüsselter
 Verbindung über DNS-over-TLS.
 .
 Dieses Paket enthält die Unterstützung für Weiterleitung verschlüsselter
 DNS-Abfragen aus dem lokalen Netzwerk über einen Unbound-Upstream-Server.
Tag: suite::iserv:portal, role::plugin

Package: stsbl-iserv-dns-over-tls-tunnel
Architecture: all
Depends: iserv-update,
         stsbl-iserv-server-stunnel,
         ${misc:Depends},
         ${perl:Depends}
Breaks: stsbl-iserv-dns-over-tls (<= 19.05.24)
Replaces: stsbl-iserv-dns-over-tls (<= 19.05.24)
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ Unterstützung für verschlüsseltes DNS
 Erlaubt das Abfragen des DNS-Servers auf dem IServ per verschlüsselter
 Verbindung über DNS-over-TLS.
 .
 Dieses Paket ermöglicht den Zugriff auf einen lokalen DNS-Server über einen
 TLS-Tunnel.
Tag: suite::iserv
