_dns	IN 	SVCB	1 $Servername. ( alpn=dot port=853 )
;_dns	IN 	SVCB	1 $Servername. ( alpn=doq port=8853 )
;_dns	IN 	SVCB	1 $Servername. ( alpn=h2 port=443 dohpath=/dns-query{?dns} )
;_dns	IN 	SVCB	1 $Servername. ( alpn=h3 port=443 dohpath=/dns-query{?dns} )

